name: mala_front
description: A new Flutter project.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  awesome_flutter_extensions: ^1.1.1
  brasil_fields: ^1.14.0
  cpf_cnpj_validator: ^2.0.0
  fluent_ui: ^4.7.3
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
